{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1>Register</h1>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {{ form_start(form) }}
                {{ form_row(form.email) }}
                {{ form_row(form.plainPassword.first) }}
                {{ form_row(form.plainPassword.second) }}
                {{ form_row(form.firstName) }}
                {{ form_row(form.lastName) }}

                <button type="submit" class="btn btn-primary btn-sm">Регистрация</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
